/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        8. Project Styles
        11. Optional Section Styles
        12. Media Queries
*/
/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/
/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/
/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0; }

*,
*:before,
*:after {
  box-sizing: inherit;
  -moz-box-sizing: inherit; }

body {
  font-family: Arial, sans-serif;
  font-family: sans-serif;
  font-size: 16px;
  background: linear-gradient(180deg, #aaa 0%, #fff 60%, #fff 100%);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100%; }
  body.active {
    overflow: hidden;
    z-index: -1; }

#main-body {
  background: linear-gradient(180deg, #aaa 0%, #fff 100%);
  background-repeat: no-repeat; }

h1, h2, h3, p, a, text {
  color: #000;
  font-weight: 50;
  text-align: justify; }

h1, h2, h3 {
  font-family: Courier New, monospace;
  letter-spacing: 0.05em; }

h1 {
  font-size: 10em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.25em; }

p {
  font-size: 1em; }

.content {
  position: relative;
  padding: 50px 15px;
  text-align: justify;
  height: auto;
  min-height: 100%;
  margin-bottom: -50px; }

.footer {
  background: #000;
  pagging: 50px 0px;
  margin-top: auto;
  margin-bottom: 0;
  height: 60px; }

.copyright {
  position: relative;
  padding-top: 5px;
  font-size: 1em; }
  .copyright p {
    color: #fff;
    display: inline-block; }

.download {
  position: relative;
  padding: 0px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.download-btn {
  display: inline-block;
  color: #f00;
  background: #fff;
  padding: 15px 25px;
  margin-bottom: 50px;
  text-align: center;
  width: 150px;
  max-width: 150px;
  border-radius: 0px;
  box-shadow: 5px 5px 10px 1px rgba(255, 0, 0, 0.5); }
  .download-btn:hover {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    color: #f00;
    background: #fff;
    text-decoration: none; }
  .download-btn:focus, .download-btn:visited {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
    color: #aaa;
    background: #fff;
    text-decoration: none; }

.social {
  text-align: right;
  color: #000; }
  .social ul {
    margin: 5px 0 0 0;
    padding: 0; }
  .social li {
    display: inline-block;
    font-size: 1em;
    list-style: none; }
  .social a {
    display: block;
    color: #fff;
    padding: 10px; }
    .social a:hover {
      color: #f00; }
  .social img {
    max-height: 20px;
    width: auto; }

.accent {
  color: #f00; }

.highlight {
  background-color: rgba(255, 0, 0, 0.4); }

.arrow {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 2px; }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

/*
    --------------------------
    ----- 4. Main Styles -----
    --------------------------
*/
#main-lead {
  position: sticky;
  height: 100%;
  min-height: 100%;
  width: 100%;
  padding: 50px 50px;
  background-size: cover;
  overflow: hidden;
  text-align: justify; }

#main-lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify; }
  #main-lead-content h1 {
    font-size: 10em;
    text-transform: lowercase;
    letter-spacing: 0.05em; }
  #main-lead-content h2 {
    font-size: 2em;
    text-transform: lowercase;
    margin-bottom: 15px; }

#main-guide, #main-resources {
  /*flex: 1;*/
  position: relative;
  padding: 50px 50px;
  text-align: justify;
  width: 100%; }

#main-guide {
  background: #000;
  color: #fff;
  min-height: 100vh; }
  #main-guide h1, #main-guide h2, #main-guide p, #main-guide text {
    color: #fff; }
  #main-guide a {
    font-size: 1.25em; }

#main-resources {
  min-height: 100vh;
  font-size: 1em; }
  #main-resources a {
    font-size: 1.25em;
    color: #000;
    text-decoration: underline #000 2px; }
    #main-resources a:focus, #main-resources a:visited {
      color: #000;
      text-decoration: underline #000 2px; }

.image {
  min-height: 100px;
  max-width: 1000px;
  margin: 20px;
  display: flex; }

.card {
  min-height: 100px;
  padding-top: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em; }

.card-content {
  position: relative;
  max-width: 500px;
  margin: 20px auto 20px auto;
  padding: 60px 80px;
  overflow: hidden;
  border-radius: 0px;
  color: #000;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1em; }
  .card-content text {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%; }
  .card-content text:hover, .card-content text:focus, .card-content text:visited {
    text-decoration: none;
    color: #000; }
  .card-content:hover, .card-content:focus, .card-content:visited {
    text-decoration: none;
    color: #000; }

#card-content-checklist {
  box-shadow: 5px 5px 10px 1px rgba(255, 0, 0, 0.5); }
  #card-content-checklist:hover {
    box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, 0.5); }

#card-content-card {
  box-shadow: 5px 5px 10px 1px rgba(255, 0, 0, 0.5); }
  #card-content-card:hover {
    box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.5); }

.card-title {
  color: #f00;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none; }
  .card-title:hover {
    color: #f00;
    text-decoration: none; }

/*
    -------------------------------
    ----- 8. Content Styles -----
    -------------------------------
*/
.title {
  position: sticky;
  height: auto;
  min-height: 200px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  text-align: left;
  flex-direction: row;
  margin: 0 auto 30px 0; }

.title-content {
  position: relative;
  min-height: 150px;
  height: auto;
  max-width: 1100px;
  margin: 0 auto 30px auto;
  text-align: left;
  color: #000;
  font-size: 1em;
  /*padding: 0 20px;*/ }
  .title-content h1 {
    font-size: 7.5em;
    text-transform: uppercase; }

.back {
  position: absolute;
  width: 210px;
  overflow: auto;
  z-index: 100;
  margin-top: 10px; }

.back-link {
  width: auto;
  text-decoration: none;
  text-align: left;
  bottom: 15px;
  margin: 10px 10px 0 10px; }
  .back-link:hover, .back-link:focus, .back-link:visited {
    color: #f00;
    text-decoration: none; }
  .back-link p {
    display: inline;
    font-size: 1.25em;
    color: #fff;
    padding: 5px 5px; }

.back-arrow {
  border: solid #f00;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 2px; }

.article {
  position: relative;
  min-height: 280px;
  max-width: 1100px;
  margin: 0 auto 30px 0;
  padding-bottom: 50px;
  text-align: justify;
  color: #000;
  font-size: 1em; }
  .article h1 {
    font-size: 8em;
    text-transform: uppercase;
    margin-bottom: 1em; }
  .article h2 {
    font-size: 6em;
    margin-bottom: 1em;
    text-transform: uppercase; }
  .article h3 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em; }
  .article h4 {
    margin-bottom: 0px; }
  .article ul {
    list-style: none inside;
    padding-left: 0em;
    text-align: left; }
    .article ul li {
      padding-left: 0;
      font-size: 1em;
      margin-top: 1.5em;
      margin-bottom: 1.5em; }
  .article ol {
    list-style: decimal inside;
    padding-left: 0em; }
    .article ol li {
      font-size: 1em;
      margin-top: 1em;
      margin-bottom: 1em; }
    .article ol li::marker {
      font-size: 1.25em; }
    .article ol li > ol > li {
      font-size: 1em; }

.star-list {
  --icon-size: 1.5em;
  --gutter: 2em;
  padding: 0 0 0 0;
  list-style: inside; }
  .star-list li {
    padding-left: var(--gutter); }
  .star-list li::marker {
    content: "* ";
    font-size: var(--icon-size);
    color: #f00; }

.article-link {
  font-size: 1.25em;
  color: #f00;
  text-decoration: underline #f00 2px; }
  .article-link:hover {
    color: #f00;
    text-decoration: none; }
  .article-link:focus, .article-link:visited {
    color: #8A1800;
    text-decoration: underline #8A1800 2px; }

.article-list {
  list-style: none outside; }
  .article-list li {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em; }

.citation {
  background: linear-gradient(90deg, #f00 0%, #fff 10px, #fff 100%);
  padding: 10px 20px; }

.grammar-subject {
  text-decoration: underline #f00 1px; }

.grammar-action {
  text-decoration: underline #f00 1px;
  text-decoration-style: double; }

.thumb-up {
  font-size: 1.25em;
  color: #000; }

.thumb-down {
  font-size: 1.25em;
  color: #f00; }

.crossed-out {
  text-decoration: line-through #f00; }

/*
    -----------------------------
    ----- 12. Media Queries -----
    -----------------------------
*/
@media only screen and (max-width: 1400px) {
  #main-lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto; }
    #main-lead-content h1 {
      font-size: 7.5em; }
    #main-lead-content h2 {
      font-size: 2em; }

  .title {
    min-height: 150px;
    text-align: left; }

  .title-content {
    max-width: 1000px;
    padding: 0 20px; }
    .title-content h1 {
      font-size: 5em; }

  .article-link {
    font-size: 1em; }

  .article {
    max-width: 900px; }

  .back {
    width: 40px; }

  .back-link p {
    display: none; } }
@media only screen and (max-width: 992px) {
  #main-lead {
    max-height: auto;
    padding: 100px 15px; }

  #main-lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto; }
    #main-lead-content h1 {
      font-size: 4em; }
    #main-lead-content h2 {
      font-size: 1.75em; }

  .title {
    min-height: 120px; }

  .title-content {
    max-width: 600px;
    padding: 0 20px; }
    .title-content h1 {
      font-size: 3em; }

  .article {
    max-width: 600px;
    min-height: 370px; }
    .article h1 {
      font-size: 3em; }
    .article h2 {
      font-size: 1.5em; }

  .image {
    max-width: 600px; } }
@media only screen and (max-width: 768px) {
  #main-lead-content h1 {
    font-size: 3em; }
  #main-lead-content h2 {
    font-size: 1.5em; }
  #main-lead-content a {
    padding: 10px 20px; }

  .title {
    min-height: 100px; }

  .title-content h1 {
    font-size: 3em; }

  .article {
    max-width: 600px;
    padding-bottom: 100px; }
    .article h1 {
      font-size: 3em; }
    .article h2 {
      font-size: 2em; }

  .image {
    max-width: 400px; }

  #card-content-card {
    margin: 20px 20px; }

  .copyright {
    text-align: center; }

  .footer {
    text-align: center;
    height: 110px; }

  .social {
    text-align: center; } }
@media only screen and (max-width: 480px) {
  #main-lead-content h1 {
    font-size: 2em; }
  #main-lead-content h2 {
    font-size: 1.25em; }
  #main-lead-content a {
    font-size: 1em;
    padding: 5px 10px; }

  .title {
    min-height: 50px; }

  .title-content h1 {
    font-size: 2em; }

  .article {
    max-width: 400px; }
    .article h1 {
      font-size: 2em; }
    .article h2 {
      font-size: 1.5em; }

  .image {
    max-width: 100%; }

  .back {
    width: 30px; } }

/*# sourceMappingURL=styles.css.map */
