/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/
/*
    File Contents:

        1. Variables
        2. Mixins
        3. Global Styles
        4. Lead Styles
        8. Project Styles
        11. Optional Section Styles
        12. Media Queries
*/

/*
    ------------------------
    ----- 1. Variables -----
    ------------------------
*/

// Define base and accent colors
$background-color: #fff;
$complementary-color: #aaa;
$text-color: #000;
$visited-color: #8A1800;

$inverse-background-color: #000;
$inverse-complementary-color: #aaa;
$inverse-text-color: #fff;
$inverse-visited-color: #999;

$accent-color: #f00;
$light-accent-color: rgba(255, 0, 0, 0.4);

$shadow-color: rgba(0, 0, 0, 0.5);
$accent-shadow-color: rgba(255, 0, 0, 0.5);
$inverse-shadow-color: rgba(255, 255, 255, 0.5);


/*
    ---------------------
    ----- 2. Mixins -----
    ---------------------
*/

@mixin transition($duration: 0.5s, $func: ease, $property: all) {
    transition: #{$duration} #{$func} #{$property};
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
        opacity: 1;
    }

    &::-moz-placeholder {
        @content;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

/*
    ----------------------------
    ----- 3. Global Styles -----
    ----------------------------
*/

html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 16px;
    background: linear-gradient(180deg, $complementary-color 0%, $background-color 60%, $background-color 100%);
    background-repeat: no-repeat;
    height: 100%;
    min-height: 100%;

    &.active {
        overflow: hidden;
        z-index: -1;
    }
}

#main-body {
    background: linear-gradient(180deg, $complementary-color 0%, $background-color 100%);
    background-repeat: no-repeat;
}

h1, h2, h3, p, a, text {
    color: $text-color;
    font-weight: 50;
    text-align: justify;
}

h1, h2, h3 {
    font-family: Courier New, monospace;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 10em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

p {
    font-size: 1em;
}


// No JS styles
.no-js {
}

.content {
    position: relative;
    padding: 50px 15px;
    text-align: justify;
    height: auto;
    min-height: 100%;
    margin-bottom: -50px;
}

.footer {
    background: $inverse-background-color;
    pagging: 50px 0px;
    margin-top: auto;
    margin-bottom: 0;
    height: 60px;
}

.copyright {
    position: relative;
    padding-top: 5px;
    font-size: 1em;
    p {
        color: $inverse-text-color;
        display: inline-block;
    }
}

.download {
    position: relative;
    padding: 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.download-btn {
    display: inline-block;
    color: $accent-color;
    background: $background-color;
    padding: 15px 25px;
    margin-bottom: 50px;
    text-align: center;
    width: 150px;
    max-width: 150px;
    border-radius: 0px;
    box-shadow: 5px 5px 10px 1px $accent-shadow-color;

    &:hover {
        box-shadow: 5px 5px 10px 1px $shadow-color;
        color: $accent-color;
        background: $background-color;
        text-decoration: none;
    }

    &:focus, &:visited {
        box-shadow: 5px 5px 10px 1px $shadow-color;
        color: $complementary-color;
        background: $background-color;
        text-decoration: none;
    }
}

.social {
    text-align: right;
    color: $inverse-background-color;

    ul {
        margin: 5px 0 0 0;
        padding: 0;
    }

    li {
        display: inline-block;
        font-size: 1em;
        list-style: none;
    }

    a {
        display: block;
        color: $inverse-text-color;
        padding: 10px;

        &:hover {
            color: $accent-color;
        }
    }

    img {
        max-height: 20px;
        width: auto;
    }
}

.accent {
    color: $accent-color;
}

.highlight {
    background-color: $light-accent-color;
}

.arrow {
    border: solid $text-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*
    --------------------------
    ----- 4. Main Styles -----
    --------------------------
*/

#main-lead {
    position: sticky;
    height: 100%;
    min-height: 100%;
    width: 100%;
    padding: 50px 50px;
    background-size: cover;
    overflow: hidden;
    text-align: justify;
}

#main-lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;

    h1 {
        font-size: 10em;
        text-transform: lowercase;
        letter-spacing: 0.05em;
    }

    h2 {
        font-size: 2em;
        text-transform: lowercase;
        margin-bottom: 15px;
    }
}

#main-guide, #main-resources {
     /*flex: 1;*/
    position: relative;
    padding: 50px 50px;
    text-align: justify;
    width: 100%;
}

#main-guide {
    background: $inverse-background-color;
    color: $inverse-text-color;
    min-height: 100vh;

    h1, h2, p, text {
        color: $inverse-text-color;
    }

    a {
        font-size: 1.25em;
    }
}

#main-resources {
    min-height: 100vh;
    font-size: 1em;

    a {
        font-size: 1.25em;
        color: $text-color;
        text-decoration: underline $text-color 2px;

        &:focus, &:visited {
            color: $text-color;
            text-decoration: underline $text-color 2px;
        }
    }
}

.image {
    min-height: 100px;
    max-width: 1000px;
    margin: 20px;
    display: flex;
}

.card {
    min-height: 100px;
    padding-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.card-content {
    position: relative;
    max-width: 500px;
    margin: 20px auto 20px auto;
    padding: 60px 80px;
    overflow: hidden;
    border-radius: 0px;
    color: $text-color;
    background: $background-color;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;

    text {
        color: $text-color;
        position: absolute;
        top: 50%;
        left: 50%;
    }

    text:hover, text:focus, text:visited {
        text-decoration: none;
        color: $text-color;
    }

    &:hover, &:focus, &:visited {
        text-decoration: none;
        color: $text-color;
    }
}

#card-content-checklist {
    box-shadow: 5px 5px 10px 1px $accent-shadow-color;
    &:hover {
        box-shadow: 10px 10px 10px 1px $inverse-shadow-color;
    }   
}


#card-content-card {
    box-shadow: 5px 5px 10px 1px $accent-shadow-color;
    &:hover {
        box-shadow: 10px 10px 10px 1px $shadow-color;
    }
}

.card-title {
    color: $accent-color;
    font-size: 1.5em;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        color: $accent-color;
        text-decoration: none;
    }
}


/*
    -------------------------------
    ----- 8. Content Styles -----
    -------------------------------
*/


.title {
    position: sticky;
    height: auto;
    min-height: 200px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    text-align: left;
    flex-direction: row;
    margin: 0 auto 30px 0;
}

.title-content {
    position: relative;
    min-height: 150px;
    height: auto;
    max-width: 1100px;
    margin: 0 auto 30px auto;
    text-align: left;
    color: $text-color;
    font-size: 1em;
    /*padding: 0 20px;*/

    h1 {
        font-size: 7.5em;
        text-transform: uppercase;
    }
}

.back {
    position: absolute;
    width: 210px;
    overflow: auto;
    z-index: 100;
    margin-top: 10px;
}

.back-link {
    width: auto;
    text-decoration: none;
    text-align: left;
    bottom: 15px;
    margin: 10px 10px 0 10px;

    &:hover, &:focus, &:visited {
        color: $accent-color;
        text-decoration: none;
    }

    p {
        display: inline;
        font-size: 1.25em;
        color: $inverse-text-color;
        padding: 5px 5px;
    }
}

.back-arrow {
    border: solid $accent-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin-bottom: 2px;
}

.article {
    position: relative;
    min-height: 280px;
    max-width: 1100px;
    margin: 0 auto 30px 0;
    padding-bottom: 50px;
    text-align: justify;
    color: $text-color;
    font-size: 1em;

    h1 {
        font-size: 8em;
        text-transform: uppercase;
        margin-bottom: 1em;
    }

    h2 {
        font-size: 6em;
        margin-bottom: 1em;
        text-transform: uppercase;
    }

    h3 {
        font-size: 2em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    h4 {
        margin-bottom: 0px;
    }

    ul {
        list-style: none inside;
        padding-left: 0em;
        text-align: left;

        li {
            padding-left: 0;
            font-size: 1em;
            margin-top: 1.5em;
            margin-bottom: 1.5em; 
        }
    }

    ol {
        list-style: decimal inside;
        padding-left: 0em;

        li {
            font-size: 1em;
            margin-top: 1em;
            margin-bottom: 1em; 
        }

        li::marker {
            font-size: 1.25em;
        }

        li > ol > li {
            font-size: 1em;
        }
    }
}

.star-list {
    --icon-size: 1.5em;
    --gutter: 2em;
    padding: 0 0 0 0;
    list-style: inside;

    li {
        padding-left: var(--gutter);
    }

    li::marker {
        content: "* ";
        font-size: var(--icon-size);
        color: $accent-color;
    }
}

.article-link {
    font-size: 1.25em;
    color: $accent-color;
    text-decoration: underline $accent-color 2px;

    &:hover{
        color: $accent-color;
        text-decoration: none;
    }


    &:focus, &:visited {
        color: $visited-color;
        text-decoration: underline $visited-color 2px;
    }
}

.article-list {
    list-style: none outside;
    
    li {
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 1em; 
    }
}

.citation {
    background: linear-gradient(90deg, $accent-color 0%, $background-color 10px, $background-color 100%);
    padding: 10px 20px;
}

.grammar-subject {
    text-decoration: underline $accent-color 1px;
}

.grammar-action {
    text-decoration: underline $accent-color 1px;
    text-decoration-style: double;
}

.thumb-up {
    font-size: 1.25em;
    color: $text-color;
}

.thumb-down {
    font-size: 1.25em;
    color: $accent-color;
}

.crossed-out {
    text-decoration: line-through $accent-color;
}

/*
    -----------------------------
    ----- 12. Media Queries -----
    -----------------------------
*/


// Medium Devices

@media only screen and (max-width : 1400px) {

    #main-lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;

        h1 {
            font-size: 7.5em;
        }

        h2 {
            font-size: 2em;
        }
    }

    .title {
        min-height: 150px;
        text-align: left;
    }

    .title-content {
        max-width: 1000px;
        padding: 0 20px;
        h1 {
            font-size: 5em;
        }
    }

    .article-link {
        font-size: 1em;
    }

    .article {
        max-width: 900px;
    }

    .back {
        width: 40px;
    }
    
    .back-link {
        p {
            display: none;
        }
    }
}


@media only screen and (max-width : 992px) {

    #main-lead {
        max-height: auto;
        padding: 100px 15px;
    }

    #main-lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;

        h1 {
            font-size: 4em;
        }

        h2 {
            font-size: 1.75em;
        }
    }

    .title {
        min-height: 120px;
    }

    .title-content {
        max-width: 600px;
        padding: 0 20px;
        h1 {
            font-size: 3em;
        }
    }

    .article {
        max-width: 600px;
        min-height: 370px;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.5em;
        }
    }

    .image {
        max-width: 600px;
    }
}

// Small Devices
@media only screen and (max-width : 768px) {

    #main-lead-content {
        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.5em;
        }

        a {
            padding: 10px 20px;
        }
    }

    .title {
        min-height: 100px;
    }

    .title-content {
        h1 {
            font-size: 3em;
        }
    }

    .article {
        max-width: 600px;
        padding-bottom: 100px;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2em;
        }
    }

    .image {
        max-width: 400px;
    }

    #card-content-card {
        margin: 20px 20px;
    }

    .copyright {
        text-align: center;
    }

    .footer {
        text-align: center;
        height: 110px;
    }

    .social {
        text-align: center;
    }
}

// Extra Small Devices
@media only screen and (max-width : 480px) {

    #main-lead-content {
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.25em;
        }

        a {
            font-size: 1em;
            padding: 5px 10px;
        }
    }

    .title {
        min-height: 50px;
    }

    .title-content {
        h1 {
            font-size: 2em;
        }
    }

    .article {
        max-width: 400px;
        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }
    }

    .image {
        max-width: 100%;
    }

    .back {
        width: 30px;
    }
}
